<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
  </head>
  <body>
    <%-include('./partials/adminnav.ejs') %>
    <div class="container">
      <div class="sidebar">
        <h3>Menu</h3>
        <ul>
          <li><a href="#">Profile Information</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="/admin/notifications">Notifications</a></li>
        </ul>
        <h1>Admin Profile</h1>
        <div class="section" id="profile-information">
          <h2>Profile Information</h2>
          <p>Username: <%= currentUser.username %></p>
          <p>Contact Details: <%= currentUser.email %></p>
        </div>
        <div class="section" id="account-settings">
          <h2>Account Settings</h2>
          <p>Edit Profile Information</p>
          <p>Change Password</p>
        </div>
        <div class="section" id="notifications">
          <h2>Notifications</h2>
          <div class="notifications">
            <ul>
              <li><a href="#">New Book Available</a></li>
              <li><a href="#">Reminder: Return Book</a></li>
              <!-- More notifications here -->
            </ul>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="section" id="bookshelf">
          <h2>USERS</h2>
          <div class="bookshelf" id="bookshelf">
            <div class="bookCard" id="bookCard">
              <% users.forEach(user => {  %>
              <div class="book">
                <div class="image bookInfo">
                  <img src="../public/images/<%= user.imageUrl %>.jpeg" alt="<%= user.username %> profile image" />
                </div>
                <span class="bookInfo" id="title">Username: <%= user.username %></span>
                <span class="bookInfo" id="price">Email: <%= user.email %></span>
                <span class="bookInfo" id="price">Role: <%= user.role %></span>
                <span class="bookInfo" id="price">Books Borrowed: <%= user.booksBorrowed %></span>
                <!-- Add other book info here -->
                <div class="bookInfo" id="btns">
                  <input type="button" value="Delete" class="choices borrow delete" data-userid="<%= user.id %>" data-method="delete"/>
                  <input type="button" value="Update" class="choices update" data-userid="<%= user.id %>" data-method="update" />
                </div>
              </div>
              <% }) %>
            </div>
            <!-- More books here -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
